/* This file contains only the styles specific to the allevents page, after removing those in common.css */

/* ===============================
   6. Exhibition Components
   =============================== */
   .exhibitions-container {
    padding: 20px;
    margin-top: -5%;
}

.exhibition {
    background: rgba(255, 255, 255, 0.684);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 30px;
    margin: 30px auto;
    max-width: 1000px;
    min-height: 200px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: justify;
    word-spacing: -1.75px;
    color: #000;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.exhibitions-container .exhibition:first-child {
    z-index: 5;
}

.exhibition-image {
    flex: 0 0 25%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.exhibition-image img {
    width: 65%;
    max-height: 200px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.exhibition-content {
    flex: 0 0 70%;
    text-align: left !important;
}

.exhibition h2 {
    margin: 0 0 10px;
    font-family: 'NeueHaasDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.exhibition h3 {
    margin: 0 0 10px;
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.exhibition p {
    margin: 0 0 15px;
    font-family: 'NeueHaasDisplayRoman', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #343333;
}

.detail .button {
    position: absolute;
    margin-left: 40px;
    margin-top: 20px;
}

.detail {
    position: relative;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.684);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 345px;
    margin-top: 90px;
}

.close-button:hover {
    background: #f56c5f;
}

/* Update the cross icon to change color on hover */
.cross-icon::before,
.cross-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: background-color 0.3s ease;
}

/* Make the X darker when hovering */
.close-button:hover .cross-icon::before,
.close-button:hover .cross-icon::after {
    background-color: #f56c5f;
}

/* ===============================
  6. Text & White Box for event page
   =============================== */
.card2 {
    background: rgba(255, 255, 255, 0.684);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 40px;
    margin: 10px auto;
    max-width: 1000px;
    min-height: 320px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: justify;
    word-spacing: -1.75px;
    color: #000;
    padding: 40px;
    margin-top: 100px;
    position: relative;
    width: 90%;
}

.card2 h1 {
    font-family: 'NeueHaasDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 48px;
    margin-bottom: 0px;
    text-align: left;
    color: #000;
}

.card2 h2 {
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #000;
    margin-bottom: 0px;
    text-align: left;
}

.card2 h3 {
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #000;
}

.card2 p {
    font-family: 'NeueHaasDisplayLight', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 0px;
    text-align: justify;
}

/* ===============================
  6. Text & White Box for website page
   =============================== */
.card {
    background: rgba(255, 255, 255, 0.684);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 40px;
    margin: 10px auto;
    max-width: 1000px;
    min-height: 320px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: justify;
    word-spacing: -1.75px;
    color: #000;
    margin-top: 100px;
}

.card h1 {
    font-family: 'NeueHaasDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 48px;
    margin-bottom: 0px;
    text-align: center;
    color: #000;
}

.card h2 {
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #000;
}

.card p {
    font-family: 'NeueHaasDisplayLight', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 0px;
    text-align: center;
}

/* ===============================
  4.2 Large Logo for Intro page
   =============================== */
.logo2 {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 2;
}

.logo2 img {
    width: 500px;
    height: auto;
    max-width: 700px;
    margin-top: -300px;
}

/* ===============================
   4. close button
   =============================== */
.position-fixed {
    position: fixed;
    z-index: 1050 !important;
    top: 95px !important;
    right: 135px !important;
}

.btn-close-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.684);
    backdrop-filter: blur(5px);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 40%;
    margin-top: -160%;
}

.btn-close-custom:hover {
    background: rgba(255, 255, 255, 0.684);
}

.cross-icon {
    position: relative;
    width: 20px;
    height: 20px;
}

.cross-icon::before {
    transform: rotate(45deg);
}

.cross-icon::after {
    transform: rotate(-45deg);
}

.btn-close-custom:hover .cross-icon::before,
.btn-close-custom:hover .cross-icon::after {
    background-color: #f56c5f;
}

/* ===============================
  7. Events
   =============================== */
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 30px;
}

.event-content h1 {
    font-family: 'NeueHaasDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 48px;
    margin-bottom: 15px;
    color: #000;
    font-weight: 600;
}

.detail h2 {
    font-family: 'NeueHaasDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 600;
}

.detail h3 {
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
    line-height: 1.4;
}

.events-container {
    padding: 0;
}

.place {
    max-width: 100%;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.social-icons a img {
    height: auto;
    transition: transform 0.3s ease-in-out;
    filter: brightness(0);
}

/* Set different sizes for each icon */
.social-icons a:nth-child(1) img {
    /* Instagram */
    width: 20px;
}

.social-icons a:nth-child(2) img {
    /* Facebook */
    width: 15px;
}

.social-icons a:nth-child(3) img {
    /* TikTok */
    width: 20px;
}

/* Hover effect */
.social-icons img:hover {
    transform: scale(1.1);
}

/* ===============================
  8. Countdown for index.html
   =============================== */
.countdown2-item {
    margin: 0 1rem;
    min-width: 80px;
    text-align: center;
}

.countdown2-value {
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.684);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 0.5rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 0.5rem;
}

.exhibition1 {
    background: rgba(255, 255, 255, 0.684);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 10px;
    margin: 0 auto;
    max-width: 100%;
    height: 40px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 0;
}

.exhibitions-container {
    padding-top: 100px;
}

/* ===============================
   grey-overlay
   =============================== */
.grey-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(147, 147, 147, 0.25);
    border-radius: 25px;
    pointer-events: none;
    z-index: 2;
}

/* ===============================
   Responsive Styles
   =============================== */
@media (max-width: 768px) {
    .position-fixed {
        top: 95px !important;
        right: -290px !important;
    }
}

@media (max-width: 420px) {
    .btn-close-custom {
        margin-top: -65px;
    }

    .card2 {
        margin-top: 75px;
    }

    .card2 h1 {
        font-size: 30px;
    }

    .card2 h2 {
        font-size: 20px;
    }

    .card2 p {
        font-size: 21px;
    }

    .exhibitions-container {
        margin-top: -25%;
    }

    .exhibition {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
    }

    .exhibition-image {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 15px;
        order: -1;
        width: 30%;
        height: auto;
    }

    .exhibition-content {
        flex: 0 0 100%;
        text-align: center;
    }

    .exhibition-image img {
        width: 70%;
        max-height: 120px;
    }
}