<footer class="footer">
    <div class="social-media-container">
        <a href="https://instagram.com/nova.bfa" target="_blank">
            <img class="social-icon" src="./images/instagram.png" alt="Logo">
        </a>
        <a href="https://www.facebook.com/profile.php?id=61574121508715" target="_blank">
            <img class="social-icon"  src="./images/facebook.png" alt="Logo">
        </a>
        <a href="https://www.tiktok.com/@nova.bfa" target="_blank">
            <img class="social-icon"  src="./images/tiktok.png" alt="Logo">
        </a>
    </div>
    
    <div class="nav-links">
        <a href="indexfinal.html">Home</a>
        <a href="allevents.html">Events</a>
        <a href="artists.html">Artists</a>
        <a href="sponsors.html">Sponsors</a>
        <a href="contacts.html">Contact</a>
    </div>
    
    <div class="copyright">
        NOVA | BFA Digital Arts 2025
    </div>
</footer>