<!-- New container section -->
<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container">
        <a class="navbar-brand" href="indexfinal.html">
            <img src="./images/novalogo.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav links">
                <li class="nav-item">
                    <a class="nav-link" href="allevents.html">Events</a>
                </li>
                <li class="nav-item"></li>
                <a class="nav-link" href="artists.html">Artists</a>
                </li>
                <li class="nav-item"></li>
                <a class="nav-link" href="sponsors.html">Sponsors</a>
                </li>
                <li class="nav-item"></li>
                <a class="nav-link" href="contacts.html">Contact</a>
                </li>

            </ul>
        </div>
    </div>
</nav>