.logo {
    position: fixed;
    top: -2%;
    left: 20px;
}

.logo img {
    width: 60%;
    height: auto;

}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: auto;
    position: relative;
    /* Add this for positioning the underline */
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'NeueHaasDisplayMedium', Helvetica, Arial, sans-serif;
    position: relative;
    /* For the underline positioning */
    padding-bottom: 5px;
    /* Space for the underline */
}



.separator {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    /* Changed to white for better contrast against dark background */
}